* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #fefefa;
}

.mainContainer {
  display: flex;
  justify-content: space-evenly;
}

.canvasContainer {
  display: flex;
  width: 400px;
  flex-direction: column;
  border: 1px solid #1d2951;
  /* background: red; */
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}