* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #fefefa;
}

.title {
  display: flex;
  justify-content: center;
}

#input-range {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.mainContainer {
  display: flex;
  justify-content: space-evenly;
}

.canvasContainer {
  display: flex;
  width: 400px;
  flex-direction: column;
  border: 1px solid #1d2951;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  height: 10px;
}

.canvas-btn {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
  font-size: 2em;
  height: 50px;
  border-radius: 10px;
}